<p id="notice"><%= notice %></p>

<p>
  <strong>Cat:</strong>
  <%= @mark.cat %>
</p>

<p>
  <strong>Regno:</strong>
  <%= @mark.regno %>
</p>

<%= link_to 'Edit', edit_mark_path(@mark) %> |
<%= link_to 'Back', marks_path %>
